
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
}

nav {
    background-color: #fff;
    transition: 0.5s;
    border-bottom: 1px solid rgb(39, 126, 39);
}

nav.nb-mini {
    height: 40px !important;
    transition: 0.5s;
}

nav.nb-mini .navbar-brand {
    margin-top: -50px;
}

.data,
.local {
    color: #e23234;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin-top: 25px;
    line-height: 1.5em;
}

.data span,
.local span {
    font-weight: 700;
    font-size: 2em;
}

.carouselPricipal {
    margin-top: 98px;
}

.logo {
    max-height: 100px;
    display: inline-block;
}

.card.tamanho {
    min-height: 650px;
}

.card.meiotamanho {
    min-height: 325px;
}

.mapImage {
    height: 500px;
    background-image: url("../img/biopark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

span.hora {
    color: #000;
    margin-bottom: 10px;
}

span.titulo,
span.hora,
span.momento {
    text-transform: uppercase;
    font-weight: 700;
}

div.desc {
    font-size: 0.9em;
    font-style: italic;
    margin: 5px 0;
}

div.bl {
    border-left: 1px solid #000;
    padding-left: 10px;
    margin-left: 10px;
}

.footer-section {
    /*background: #21c64b;*/
    background: rgba(33, 197, 75, 0.6);
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
}

.footer-section img {
    margin-top: 20px;
}

.footer-section p {
    margin-bottom: 20px;
}

.footer-section .icons {
    margin-top: 30px;
}

.footer-section .icons .custom-icon {
    font-size: 1.8em;
    padding: 0;
    margin: 0 5px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    transition: .5s ease;
}

.footer-section .icons .custom-icon:hover {
    border: 2px solid #fff;
    color: #d0193a;
    transition: .5s ease;
}

.footer-section .end {
    /*background: #00a651;*/
    background: rgba(0, 166, 81, 0.8);
}

.footer-section .end img {
    margin: 10px auto;
}

.footer-section .end div {
    text-align: center;
}

.footer-section .end .icon-footer {
    font-size: 2em;
    color: #63e283;
    margin: 0 10px;
    height: 44px;
    vertical-align: middle;
    padding-top: 10px;
}

.grande,
a:hover.grande {
    font-size: 2.7rem;
    text-decoration: none;
    color: #fff;
}

.medio {
    font-size: 1.5rem;
}

@media (min-width: 992px) {
    .hideLG {
        border: 0px;
        margin: 0px;
    }
}

@media (max-width: 991px) {
    .navbar-toggler-icon {
        width: 0.6em;
        height: 0.6em;
    }
    #navbarNavDropdown {
        background-color: white;
        margin: 1px -16px -16px;
        padding: 10px;
    }
}